.containerFixed {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 9999;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.swatches {
  display: inline-flex;
  gap: 8px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: saturate(1.2) blur(4px);
  border-radius: 9999px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12), inset 0 0 0 1px hsl(0deg 0% 100% / 5%);
}

.swatch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  //border: 1px solid rgba(0, 0, 0, 0.15);
  //box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  transition: box-shadow 150ms ease, transform 120ms ease;
}

.selected {
  transform: scale(1.33);
}

.swatches > .swatch:first-child .selected {
  box-shadow: 0 0 0 3px #3b82f6,
  inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.swatches > .swatch:nth-child(2) .selected {
  box-shadow: 0 0 0 3px #3b82f6,
  inset 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.swatches > .swatch:nth-child(3) .selected {
  box-shadow: 0 0 0 3px #3b82f6,
  inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}

.swatches > .swatch:nth-child(4) .selected {
  box-shadow: 0 0 0 3px #3b82f6,
  inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

/* Keyboard focus */
.swatch:has(.input:focus-visible) .dot {
  box-shadow:
    0 0 0 3px #93c5fd,
    inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
